[Unit]
Description=Aquametrics Service
Documentation=https://github.com/StefanSchubert/aquarium_IoT
After=network-online.target

[Service]
User=aquametric
Restart=on-failure
WorkingDirectory=/var/aquametric/
# ExecStart=/var/aquametric/aquametric-service.jar
ExecStart=/bin/java -jar /var/aquametric/aquametric-service.jar \
-Djava.io.tmpdir=/var/aquametric/tmp \
    -XX:-UsePerfData \
    -Xmx96mm \
    -Xms64m \
    -XX:MaxMetaspaceSize=128m

[Install]
WantedBy=multi-user.target
